%section#contact
  .container
    .row
      .col-lg-12.text-center
        .intro-text
          %span.name Contact Me
          %hr.star-light/


    .row
      .col-lg-8.col-lg-offset-2
        = form_for @contact || Contact.new, remote: true, html: {id: 'contactForm', name: 'sendMessage', novalidate: ''} do |f|
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              %f.label 'Name', :name
              = f.text_field :name, :required => true, :placeholder => "Name", class: 'form-control', id: 'name'
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              %label Email Address
              = f.text_field :email, :required => true, :placeholder => "Email", class: 'form-control', id: 'email'
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              %label Message
              = f.text_area :message, :required => true, :placeholder => "Message", class: 'form-control', id: 'message', rows: '5'
          #success
            %br
            .row
              .form-group.col-xs-12
                = f.submit 'Send', class: 'btn btn-success btn-lg'

