<div class="row">
    <%= bootstrap_form_for Contact.new do, remote: true |f| %>
    <div class="inner">
      <div class="col-md-7" id="form">
            <%= f.text_field :name, :required => true, :hide_label => true, :placeholder => "Name" %>
            <%= f.text_field :email, :required => true, :hide_label => true, :placeholder => "Email" %>
            <%= f.text_area :message, size: "60x10", :required => true, :hide_label => true, :plceholder => "Hello, we'd love to work with you" %>

            <%= f.submit 'Send Message', class: 'custom-button' %>
      </div>
    </div>
  </div>
